$brand-primary: #219633;
$font-family-sans-serif: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
$dropdown-link-hover-color: #FFF;
$dropdown-link-hover-bg: $brand-primary;
$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

// Import vendor styles
@import "vendor/_bootstrap.scss", "vendor/font-awesome.scss"; // Toolkit



body {
	font-size  : 16px;
	line-height: 1.5;
}

.btn-primary { font-weight: bold; }
