$base-colors: (
	dark: #222,
	medium: #666,
	light: #CCC,
	accent: #219633
);

$theme-dark: (
	menu-background: map-get($base-colors, dark),
	menu-text: map-get($base-colors, light),
	normal: map-get($base-colors, medium)
);

$theme-light: (
	menu-background: #EFEFEF,
	menu-text: map-get($base-colors, dark),
	normal: map-get($base-colors, medium)
);

$theme: $theme-light;

$colors: map-merge($base-colors, $theme);

$menu-width: 14rem;


// mixins
@mixin clearfix {
	&:after {
		clear: both;
	}

	&:before,
	&:after {
		display: table;
		content: ' ';
	}
}

@mixin border-box {
	box-sizing: border-box;
}
